<a href="/tasks/new" class='btn btn-success'>+ New Task</a>

<% unless @tasks.empty? %>
<table class="table">
  <thead>
    <tr>
      <th>
        Task
      </th>
      <th>
        Due Date
      </th>
      <th colspan="2">
        Complete
      </th>
    </tr>
  </thead>
  <% @tasks.each do |task| %>
  <tr>
    <td>
      <a href="/tasks/<%= task.id %>"><%= task.name %></a>
    </td>
    <td>
      <%= task.due_date %>
    </td>
    <td>
      <%= task.complete %>
    </td>
    <td>
      <div class="btn-toolbar">

        <a class='btn btn-default btn-xs' href="/tasks/<%= task.id %>/edit">Edit</a>


        <form action="/tasks/<%= task.id %>" method="POST">
          <input type="hidden" name="_method" value="delete">
          <input class='btn btn-danger btn-xs' type="submit" value="Delete">
        </form>
      </div>
    </td>
  </tr>
  <% end %>
</table>
<form class="" action="/tasks/search" method="post">
  <div class="input-group">
    <input type="text" name="q" class="form-control" placeholder="Search for task">
    <span class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </span>
  </div>
</form>

<form class="" action="/next" method="post">
  <div class="checkbox">
    <input class='btn btn-warning btn-xs' type="submit" value="Random Tasks">
    <span class="input-group-btn">
    </span>
  </div>
</form>

<% else %>
<div class="alert alert-info">
  <strong>Sorry</strong>
  No tasks :(
</div>

<% end %>
